html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 1.33;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  /* background-image: url(/images/bg.png);
  background-size: auto;
  background-position-x: 50%;
  background-position-y: 50%; */
}

a.button {
  background: black;
  border: 1px solid white;
  color: white;
  padding: 10px;
  text-decoration: none;
  line-height: 1;
  display: block;
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
  object-fit: contain;
}

Header {
  position: fixed;
  bottom: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
}

.ChannelTitle {
  padding: 2em;
  height: 12vh;
  text-align: center;
  font-weight: bold;
}

.Container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Grid {
  margin: 0 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6fr 1fr;
  grid-column-gap: 20px;
  width: 100%;
  grid-row-gap: 20px;
  height: 100vh;
}

Footer {
  grid-column: 1 / -1;
  display: grid;
  align-items: center;
  justify-content: center;
}

.GridBlock {
  display: inline-block;
  text-align: center;
  align-self: center;
  justify-self: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 2em;
}

.GridBlock img {
  margin: auto;
}

  .Container img {
    opacity: 0;
    transition: opacity 500ms;
  }
    .Container .img--loaded {
      opacity: 1;
    }

.Block {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
  .Block > img {
    max-width: 100%;
  }

.BlockMetadata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 75%;
  min-height: 25vh;
  margin: 0 auto;
  padding: 5px;
}

.information-panel {
  position: absolute;
  z-index: 10;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  align-content: center;
  justify-content: center;
}

.information-content p {
  text-align: left;
  font-weight: 400;
}

p.large {
  font-size: 20px;
  line-height: 26px;
}

p.medium {
  line-height: 24px;
}

.information-content h1 {
  font-weight: 500;
  text-align: left;
}

.information-open, .information-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.information-close, .information-panel {
  display: none;
}

@media (max-width: 700px) {
  .Grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
  }

  .GridBlock {
    display: inline-block;
  }
}
